<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>暂时未加入加盟大厅</title>
	</head>
	{include file="public/css" /}
	{include file="public/js" /}   
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		<!-- header2 -->
		<div class="header_second clearfix" style="border-bottom: 1px solid #ff5c00;width: 100%;padding: 4px 0;background-color: #fff;">
			<div class="wrap">
				<a class="logo_a" href="{:url('index/index')}" title="" alt="">
					<img src="__RESOURCES__images/recharge_logo.png" />
				</a>
				<span class="header_des" style="left: -101px;"></span>
				<span class="h_shuoming jionhall_title active_nav">加盟大厅</span>
			</div>
		</div>
		<!--企业主页-->
		<div class="que_con business_b clearfix" id="company_need">
			<div class="wrap">
				<div class="que_menu_1">
					<p>
						<img src="/__RESOURCES__images/home.png"/>
						<a href="{:url('index/index')}">首页</a>
						<img src="/__RESOURCES__images/right_2.png"/>				
						<a href="{:url('index/joinhall')}">加盟大厅</a>
						<img src="__RESOURCES__images/right_2.png"/>
						<a href="#">{if condition="$status!=2"}未加入任何代理{/if}</a>
					</p>
				</div>
			    <div class="jionhall_innter">
			    	 <div class="com_no_data">
                        <img src="__RESOURCES__images/jionhall_c.png" />
                        {if condition="$status!=2"}
                        <p>暂时未加盟任何代理</p>
                        <input type="submit" v-on:click="My_check" style="margin-top: 10px;" class="fabu" value="申请加入代理">
                         {else /}
                         <p>申请已提交，请耐心等待</p>
                        {/if}
                    </div>			    	
			    </div>
			</div>
			<div class="now_tan">
			<div class="now_tan_a">
				<div class="now_tan_c shen_box_1">
					<ul>
						<li>
							<div class="header_now">
								申请加入幼蚁代理
								<a class="header_close" href="javascript:;"> <img class="guanbiBtn" v-on:click="close" src="__RESOURCES__images/colse_5.png"/></a>
							</div>
							
							<div class="res_inner">
							    <div class="container_ooo c_8 _scroll">
									<div class="_panel-box">										
										<div class="content_now" style="padding: 10px 20px;">
											<div class="jionhall_img">
												<img src="__RESOURCES__images/parttime_4.png" />
												
											</div>
											<div class="jionhall_box" style="padding: 0 20px 20px 0px;">
												<h4 class="title_aa active_nav"><label><img src="__RESOURCES__images/jionhall_44.png" /></label>&nbsp;&nbsp;代理规则</h4>
												<!--第一个模块--> 
												<div class="jionhall_rult">
                                                    <p>1：幼蚁代理人数不限，KPI：平均每人5000元；</p>
                                                    <p>2：以网络营销、产品分销和广告投放确认结算作为统计；</p>
                                                    <p>3：幼蚁代理连续两月完成指定KPI，升级成为成蚁代理；</p>
                                                    <p>4：KPI计算以申请成为幼蚁代理时间起计算30天；</p>
                                                    <p>5：后面加入人员从下一个申请成为幼蚁代理时间起计；</p>
                                                    <p>6：未完成当月任务额，每月每人KPI上调20%；</p>
                                                    <p>7：连续两个月未完成KPI，减少50%任务推送量；</p>
                                                    <p>8：连续三个月未完成KPI，退出幼蚁代理。</p>
												</div>
											</div>
										</div>
									</div>
							   </div>

							</div>
							<div class="dibu">
							   <a class="dd_now shen_now" @click="submit_btn()" title="">确认申请加入幼蚁代理</a>
							</div>
						</li>	
					</ul>
				</div>
			</div>
			
		</div>
		</div>		
		<!--企业主页结束-->			
		<!--footer-->		
		{include file="public/footer1" /}
			<!--右侧导航栏-->
	    {include file="public/footer2" /}
	    {include file="public/js_1" /}
		<script>

			$(".left_nav_sub a").click(function(){
				$(".left_nav_sub a").removeClass("action");
				$(this).addClass("action");
			});
			var company_need=new Vue({
				el:"#company_need",
				data:{
					
				},
				methods:{
					My_check:function(){
						$(".now_tan").fadeIn(300);
					},
					close:function(){
						$(".now_tan").fadeOut(100);
					},
					getScorll:function(){
						$("._scroll").yi_scroll();
					},
                    submit_btn:function(){
                        $.post('{:url("index/joinhall_in")}',{},function(rs){
                            if(rs.code == 1){
                                layer.msg(rs.msg);
                                window.setTimeout(function(){
                                    window.location.href="{:url('index/joinhall')}";
                                },1500);
                            }else{
                                layer.msg(rs.msg);
                            }
                        },"json");
                    },
					init:function(){
						this.getScorll();
					}
				}
			})
			company_need.init();
		</script>
		
	</body>
	
</html>
