<template>
	<!--加盟大厅-->
	<div class="" style="border: none;">
	  <!--登入后-->
		<div class="per_tou">
			<p><a href="{:url('user/index')}" class="jionhall_i"><img src="{$user_info.user_picture}" onerror="javascript:src='__RESOURCES__images/touxiang.png'" width="100%" /></a></p>
			<p style="margin-top: 12px;">{$user_info.nick_name}</p>
			<form class="form_11">
				<div class="per_vip loading_h">
					<span>VIP{$user_info.vip_level}</span>
					<label class="active_nav">{$user_info.rank_name}</label>
				</div>
			</form>
		</div>
	   
	</div>
	<ul class="jionhall_list clearfix">
		<li>
			<p class="active_nav">{$user_info.kpi}元</p>
			<p>本月KPI</p>
		</li>
		<li>
			<p class="active_nav">{$user_info.finish_rate}</p>
			<p>KPI完成率</p>
		</li>
	</ul>
    {if condition="$user_info.post_type==1"}
    <div class="que_l">
		<a href="{:url('index/parttime')}" title="" class="color_1 " :class="{color_1:action==1, active_nav:action==1}">
		   <span class="que_act" v-if="action==1"></span>		
			<img  class="per_img" src="__RESOURCES__images/jionhall_1.png" v-if="action==1" />
			<img  class="per_img" src="__RESOURCES__images/jionhall_11.png" v-else  />
			兼职成长营
		</a>
	</div>
    {elseif condition="$user_info.post_type==2"}
	<!--完成了KPI自动升级成为兼职达人-->
	 <div class="que_l" >
		<a href="{:url('index/parttime')}" title="" class="color_1 " :class="{color_1:action==1, active_nav:action==5}">
		   <span class="que_act" v-if="action==5"></span>		
			<img  class="per_img" src="__RESOURCES__images/jionhall_5.png" v-if="action==5" />
			<img  class="per_img" src="__RESOURCES__images/jionhall_55.png" v-else  />
			兼职达人
		</a>
	</div>
	{/if}
     <div class="que_l">
		<a href="{:url('index/parttime_train')}" title=""  class="color_1" :class="{color_1:action==1, active_nav:action==2}">
				<span class="que_act" v-if="action==2"></span>		
			<img  class="per_img" src="__RESOURCES__images/jionhall_22.png"  v-if="action==2"/>
			<img  class="per_img" src="__RESOURCES__images/jionhall_2.png" v-else  />
			我要培训
		</a>
	</div>
     <div class="que_l">
		<a href="{:url('index/parttime_task')}" title="" class="color_1" :class="{color_1:action==1, active_nav:action==3}">
			<span class="que_act" v-if="action==3"></span>					
			<img  class="per_img" src="__RESOURCES__images/jionhall_33.png"  v-if="action==3" />
			<img  class="per_img" src="__RESOURCES__images/jionhall_3.png" v-else  />
			已领任务
		</a>
	</div>
     <div class="que_l">		
		<a href="{:url('index/parttime_camp')}" title="" class="color_1" :class="{color_1:action==1, active_nav:action==4}">
			<span class="que_act" v-if="action==4"></span>					
			<img  class="per_img" src="__RESOURCES__images/jionhall_44.png"  v-if="action==4" />
			<img  class="per_img" src="__RESOURCES__images/jionhall_4.png" v-else />
			成长营规则
		</a>
	</div>
</template>
<script>
	$('#main_nav_company').addClass('menu_home ');
</script>