<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>充值大厅</title>
	</head>
	{include file="public/css" /}
	<body style="background-color: #f8f8f8;">
	   <!--顶部说明-->
		{include file="public/header1" /}	
		<!--<div class="header_second clearfix" style="border-bottom: 1px solid #ff5c00;width: 100%;padding: 4px 0;background-color: #fff;">-->
			<!--<div class="wrap">-->
				<!--<a class="logo_a" href="{:url('index/index')}" title="" alt="">-->
					<!--<img src="__RESOURCES__images/recharge_logo.png" />-->
				<!--</a>-->
				<!--<span class="header_des"></span>-->
				<!--<span class="h_shuoming xiu active_nav">流量充值</span>-->
				<!--&lt;!&ndash;<a href="{:url('index/index')}" title="小蚁并团" class="back_home" alt="小蚁并团">首页</a>&ndash;&gt;-->
			<!--</div>-->
		<!--</div>-->
		<iframe allowtransparency="true" src="http://wlk.yi-zu.com/?r=wx/recharge-hall-pc" style="width: 100%;height: 1011px;overflow-x:hidden;overflow-y:hidden;border: 0;"></iframe>
		
		<!--footer-->		
		{include file="public/footer1" /}
			<!--右侧导航栏-->
	    {include file="public/footer2" /}
	
	    {include file="public/js" /}
	    {include file="public/js_1" /}
	</body>
	
</html>
