<table class="table_wx" v-if="obj.type_id==6">				
	<tr>
		<td >网站：</td>
		<td style="color: #1c1c1d;">{{need_result.getAttr(3)}}</td>
		<td>链接：</td>
		<td style="color: #1c1c1d;">
			<a :href="obj.link" target="_blank" style="width: 300px;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: normal; ">
				{{obj.link}}
			</a>
		</td>
		<td rowspan="4" class="wx_a">
			<div class="wx_btn">
				<a :href="'{:url('media/order')}'+'/type/6/id/'+obj.id">立即派单</a>
				<a href="#">收      藏</a>
				<!--<a href="#">分      享</a>-->
			</div>
	   </td>
	</tr>
	<tr>
		<td>入口位置：</td>
		<td style="color: #1c1c1d;">{{obj.title_sub}}</td>
		<td>分类：</td>
		<td style="color: #1c1c1d;">{{need_result.getAttr(600)}}</td>
	</tr>
	<tr>
		<td>入口级别：</td>
		<td style="color: #1c1c1d;">{{need_result.getAttr(14)}}</td>
		<td>时间：</td>
		<td style="color: #1c1c1d;">{{obj.desc}}</td>
	</tr>
	<tr>
		<td >报价：</td>
		<td style="color: #1c1c1d;">{{obj.price_1}}元</td>
		<td></td>
		<td style="color: #1c1c1d;"></td>
	</tr>
</table>