<template>
<table class="table paixu_taible">
	<tr class="GVhead">
		<th width="20"><label>
				<input type="checkbox" id="checkAll" onchange="selectAll(this)" style="display:none;">
			</label></th>
		<th>序号</th>
		<th>头像</th>
		<th>昵称</th>
		<th>链接</th>
		<th>粉丝数/万</th>
		<th>阅读数</th>
		<th>头条指数</th>
		<th>报价</th>
		<th>地区</th>
		<th>接单数</th>
		<th>详情</th>
		<th>收藏</th>
		<th class="order_now">立即派单</th>
	</tr>
	<tr v-for="item in list">
		<td><input type="checkbox" name="area[]" style="display:none;"></td>
		<td>{{item.id}}</td>
		<td><img :src="item.logo" width="48" height="48" /></td>
		<td>{{item.title}}</td>
		<td><a :href="item.link" target="_blank">查看</a></td>
		<td>{{item.power/10000}}</td>
		<td>{{item.power_2}}</td>
		<td>{{item.power_3}}</td>
		<td>{{item.price_1}}元</td>
		<td> -</td>
		<td>{{item.history}}</td>
		<td><a href="#" :href="'{:url('media/detail')}/id/'+item.id">详情</a></td>
		<td><a v-on:click="media_collect(item.id,item.is_collect)"  href="javascript:;">{{item.is_collect_name}}</a></td>
		<td class="order_now"><a class="zi_now" :href="'{:url('media/order')}'+'/type/8/id/'+item.id" style="color: #FF5C00 !important;">立即派单</a></td>
	</tr>
</table>
</template>