<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>论坛派单</title>
	</head>
	{include file="public/css" /}
	{include file="public/js" /}
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		{include file="public/header2" /}	
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<!--menu-->
		<div class="que_box">
			<div class="wrap">
				<div class="menu_left">
					<div class="menu_top">
						<span id="shouqi"><img src="__RESOURCES__images/more.png"/></span>
						<h3 >市场营销服务</h3>
					
					<div class="menu_bottom clearfix" id="menu_bottom">
						<div class="menu_1 clearfix">
							<span><img src="__RESOURCES__images/fuli.png"/></span>
							<div class="menu_2">
								<div class="menu_3 clearfix">
									<span><a href="marketing.html" title="" alt="">免费福利</a></span>
							        <span><img src="__RESOURCES__images/chuang.png"/></span>
								</div>
								<div class="menu_3 clearfix">
									<a href="#" title="" alt="">游戏礼包</a>
							        <a href="#" title="" alt="">领取红包</a>
								</div>
							</div> 
							<div class="menu_4">
								<div class="menu_a clearfix">
									<ul class="mrnu_ul clearfix">
										<span class="aa"></span>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
										<li><a href="marketing.html" title="" alt="">游戏礼包</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						<div class="menu_1 clearfix">
							<span><img src="__RESOURCES__images/tiyan.png"/></span>
							<div class="menu_2">
								<div class="menu_3 clearfix">
									<span><a href="productexperience.html" title="" alt="">产品体验</a></span>
							        <span><img src="__RESOURCES__images/chuang.png"/></span>
								</div>
								<div class="menu_3 clearfix">
									<a href="#" title="" alt="">游戏礼包</a>
							        <a href="#" title="" alt="">领取红包</a>
								</div>
							</div>
							<div class="menu_4">
								<div class="menu_a clearfix">
									<ul class="mrnu_ul clearfix">
										<span class="aa"></span>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
										<li><a href="productexperience.html" title="" alt="">游戏礼包</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						<div class="menu_1 clearfix">
							<span><img src="__RESOURCES__images/chuxiao.png"/></span>
							<div class="menu_2">
								<div class="menu_3 clearfix">
									<span><a href="Promotions.html" title="" alt="">促销活动</a></span>
							        <span><img src="__RESOURCES__images/chuang.png"/></span>
								</div>
								<div class="menu_3 clearfix">
									<a href="#" title="" alt="">游戏礼包</a>
							        <a href="#" title="" alt="">领取红包</a>
								</div>
							</div>
							<div class="menu_4">
								<div class="menu_a clearfix">
									<ul class="mrnu_ul clearfix">
										<span class="aa"></span>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Promotions.html" title="" alt="">游戏礼包</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						<div class="menu_1 clearfix">
							<span><img src="__RESOURCES__images/wangluo.png"/></span>
							<div class="menu_2">
								<div class="menu_3 clearfix">
									<span><a href="Network.html" title="" alt="">网络营销</a></span>
							        <span><img src="__RESOURCES__images/chuang.png"/></span>
								</div>
								<div class="menu_3 clearfix">
									<a href="#" title="" alt="">游戏礼包</a>
							        <a href="#" title="" alt="">领取红包</a>
								</div>
							</div>
							<div class="menu_4">
								<div class="menu_a clearfix">
									<ul class="mrnu_ul clearfix">
										<span class="aa"></span>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Network.html" title="" alt="">游戏礼包</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						<div class="menu_1 clearfix">
							<span><img src="__RESOURCES__images/fencheng.png"/></span>
							<div class="menu_2">
								<div class="menu_3 clearfix">
									<span><a href="Productdistribution.html" title="" alt="">产品分销</a></span>
							        <span><img src="__RESOURCES__images/chuang.png"/></span>
								</div>
								<div class="menu_3 clearfix">
									<a href="#" title="" alt="">游戏礼包</a>
							        <a href="#" title="" alt="">领取红包</a>
								</div>
							</div>
							<div class="menu_4">
								<div class="menu_a clearfix">
									<ul class="mrnu_ul clearfix">
										<span class="aa"></span>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Productdistribution.html" title="" alt="">游戏礼包</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						<div class="menu_1 clearfix">
							<span><img src="__RESOURCES__images/guanggao.png"/></span>
							<div class="menu_2">
								<div class="menu_3 clearfix">
									<span><a href="Adserving.html" title="" alt="">广告投放</a></span>
							        <span><img src="__RESOURCES__images/chuang.png"/></span>
								</div>
								<div class="menu_3 clearfix">
									<a href="#" title="" alt="">游戏礼包</a>
							        <a href="#" title="" alt="">领取红包</a>
								</div>
							</div>
							<div class="menu_4">
								<div class="menu_a clearfix">
									<ul class="mrnu_ul clearfix">
										<span class="aa"></span>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
										<li><a href="Adserving.html" title="" alt="">游戏礼包</a></li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="menu_right">
					<div class="menu_r">
						<ul class="menu_r_1">                                                                                          
							<li><a href="index.html" title="" alt="">首页</a></li>
							<li><a href="marketing.html" title="" alt="">市场营销</a></li>
							<li><a href="//app.yi-zu.com" title="" alt="">小蚁市场</a></li>
							<li><a href="//shop.yi-zu.com " title="" alt="">小蚁商城</a></li>
							<li><a href="#" title="" alt="">小蚁圈子</a></li>
							<li><a href="College.html" title="" alt="">小蚁学院</a></li>
						</ul>
					</div>
					
					
				</div>
			
			
			</div>
		</div>
		
		<div class="que_con que-a clearfix">
			<div class="wrap">
				<div class="que_menu">
					<p>
						<img src="__RESOURCES__images/home.png"/><a href="index.html">首页</a>
						<img src="__RESOURCES__images/right_2.png"/><a href="#">资源入住</a>
					</p>
				</div>
				<div class="que_a">
					<div class="row">
						<div class="business_jianjie paidan_box" >	
							<div class="ruzhu">
								<ul>
									<li class="active_li"><a class="pp_1" href="#">论坛资源</a></li>
									<li><a class="pp_1" href="#">微博资源</a></li>
									<li><a class="pp_1" href="#">微信资源</a></li>									
									<li><a class="pp_1" href="#">朋友圈</a></li>									
									<li><a class="pp_1" href="#">博客资源</a></li>
									<li><a class="pp_1" href="#">视频资源</a></li>
									<li><a class="pp_1" href="#">直播资源</a></li>
									<li><a class="pp_1" href="#">今日头条</a></li>
									
								</ul>
							</div>
							<form class="cmxform" id="create_form" method="" action="">
							     <fieldset>
									<div class="paidan_con">
										
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>论坛：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="" >
										</p>	
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>板块名称：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>板块地址：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>效果：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>置顶价格：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>加精价格：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>版主发稿价格：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<p class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span>* </span>首页推荐价格：</label>
											<input name="nickname"  type="text" class="form-control input_p1" id="nickname" placeholder="" value="">
										</p>
										<div class="form_ee">
											<label for="nickname" class="col-sm-3 control-label left1" ><span></span></label>
											<div class="col-md-9 buttom_9">
												<div class="button_ooo">
												  <a href="#">确定</a>
												   <a href="#">取消</a>
												</div>
											</div>
												
										</div>
										
										
									</div>
							       
			 
							
						         </fieldset>
							</form>		
							
						
						</div>
						
						
						
					</div>
				</div>
				
			</div>
		</div>
		<!--footer-->
		<!--footer-->
		{include file="public/footer1" /}
		<!--右侧导航栏-->
		{include file="public/footer2" /}
		<!--右侧导航栏-->
		{include file="public/js_1" /}
		<script type="text/javascript">
//		分页
			function getParameter(name) { 
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); 
				var r = window.location.search.substr(1).match(reg); 
				if (r!=null) return unescape(r[2]); return null;
			}
			//init
			$(function(){
				var totalPage = 30;
				var totalRecords = 390;
				var pageNo = getParameter('pno');
				if(!pageNo){
					pageNo = 1;
				}
				//生成分页
				//有些参数是可选的，比如lang，若不传有默认值
				kkpager.generPageHtml({
					pno : pageNo,
					//总页码
					total : totalPage,
					//总数据条数
					totalRecords : totalRecords,
					//链接前部
					hrefFormer : 'demo',
					//链接尾部
					hrefLatter : '.html',
					getLink : function(n){
						return this.hrefFormer + this.hrefLatter + "?pno="+n;
					}
					
				});
			});
			function selectAll(v){
				$('input[name="area[]"]').prop('checked', $(v).prop('checked'));
			}
		   $('.paixu_taible tr td input').click(function(){

				$('#checkAll').prop('checked', $('.paixu_taible tr td  input:not(:checked)').length == 0);
			});
			
			$(".paixu li a").click(function(){
				$(".paixu li a").removeClass("zi_sheng1");
				$(this).addClass("zi_sheng1");		
			});
			</script>
			<script type="text/javascript">
			!function(){
				laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
				laydate({elem: '#demo'});//绑定元素
			}();
			
			//日期范围限制
			var start = {
			    elem: '#start',
			    format: 'YYYY-MM-DD',
			    min: laydate.now(), //设定最小日期为当前日期
			    max: '2099-06-16', //最大日期
			    istime: true,
			    istoday: false,
			    choose: function(datas){
			         end.min = datas; //开始日选好后，重置结束日的最小日期
			         end.start = datas //将结束日的初始值设定为开始日
			    }
			};
			
			var end = {
			    elem: '#end',
			    format: 'YYYY-MM-DD',
			    min: laydate.now(),
			    max: '2099-06-16',
			    istime: true,
			    istoday: false,
			    choose: function(datas){
			        start.max = datas; //结束日选好后，充值开始日的最大日期
			    }
			};
			laydate(start);
			laydate(end);
			
			//自定义日期格式
			laydate({
			    elem: '#test1',
			    format: 'YYYY年MM月DD日',
			    festival: true, //显示节日
			    choose: function(datas){ //选择日期完毕的回调
			        alert('得到：'+datas);
			    }
			});
			
			//日期范围限定在昨天到明天
			laydate({
			    elem: '#hello3',
			    min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
			    max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
			});
			$('#main_nav_marketing').addClass('menu_home');
			</script>
		
		
	</body>
	
</html>
