<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成功创建企业</title>
	</head>
	{include file="public/css" /}
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		<!-- header2 -->
		{include file="public/header2" /}
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<!--企业管理-->
		<div class="enterp_box clearfix">
			<div class="wrap">
				<div class="enter_inner">
					<div class="creat_box">
					 	<ul class="creat_ul">
					 		<li class="creat_act">
					 			<label>1</label>填写基本信息
					 			<span class="creat_des"></span>
					 			<div class="creat_bottom"></div>
					 		</li>
					 		<li class="creat_act">
					 			<label>2</label>填写开票信息
					 			<span class="creat_des"></span>
					 			<div class="creat_bottom"></div>
					 		</li>
					 		<li class="creat_act">
					 			<label>3</label>对私结算账户
					 			<span class="creat_des"></span>
					 			<div class="creat_bottom"></div>
					 		</li>
					 		<li class="creat_act">
					 			<small class="cteat_img"><img src="__RESOURCES__images/chenggong.png"></small>成功创建企业
					 			<span class="creat_des"></span>
					 			<div class="creat_bottom"></div>
					 		</li>
					 	</ul>
					 </div>
					 <div class="enter_first">
					 	<p class="enter_dess">您已成功创建企业</p>
					 	<p>
					 		<a class="btn btn-default enter_link" href="#" role="button">我的企业</a>
					 	</p>
					 	
					 </div>
				</div>
			</div>
			
		</div>
		<!--企业管理结束-->
		<!--footer-->
		{include file="public/footer1" /}
			<!--右侧导航栏-->
	    {include file="public/footer2" /}
	
	    {include file="public/js" /}
	    {include file="public/js_1" /}
	    <script>
	    	$('#main_nav_company').addClass('menu_home ');
	    </script>
	</body>
	
</html>
