<!--收款-->
<div class="recice_con">
	<div class="media">
	  <div class="media-left">
	    <a class="recices_img" href="#">
	      <img class="media-object" src="__RESOURCES__images/sz_2.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body recice_p">
	    <h4 class="media-heading ">新人注册就送1000书币</h4>
	 	<p class="active_nav">商家：屈臣氏</p>
	 	<p>接单时间：2017-02-02</p>
	 	<p class="recice_m"><span>+100000元</span></p>
	  </div>
	</div>	
</div>
<ul class="recice_list">
	<li>
		<p>接单人：覃俊威</p>
	</li>
	<li>
		<p>联系电话：12345678901</p>
	</li>
	<li>
		<p>结算周期：周结</p>
	</li>
	<li>
		<p>结算时间：2017-01-01</p>
	</li>
</ul>
