<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>媒体接单</title>
	</head>
	{include file="public/css" /}
	{include file="public/js" /}
	<script type="text/javascript" src="__RESOURCES__js/laydate/laydate.js"></script>	
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		<!-- header2 -->
		{include file="public/header2" /}
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<!--企业主页-->
		<div class="que_con business_b clearfix" id="need_result">
			<div class="wrap">
				<div class="que_menu_1">
					<p>
						<img src="/__RESOURCES__images/home.png"/>
						<a href="{:url('index/index')}">首页</a>
						<img src="/__RESOURCES__images/right_2.png"/>
						<a href="{:url('company/index')}">管理营销</a>
						<img src="__RESOURCES__images/right_2.png"/>
						<a href="{:url('company/media_dispatch')}">媒体接单</a> 
					</p>
				</div>
				<div class="que_a" style="margin-top: 0;">
					<div class="row">
						<div class="col-md-3 que_left">
							<div class="after_box" style="border: none;">
                                {empty name="$company"}
                                <!--未加入企业-->
                                <span>
                                    <img src="{if condition='!empty($me.user_picture)'}{$me.user_picture|get_image_path}{else/}__RESOURCES__images/touxiang.png{/if}"  />
                                </span>
                                <!--未加入企业-->
                                <div class="after_pp">{$me.nick_name}</div>
                                <div class="per_vip_1"><label class="label_o">{:getUserLevel($me.user_rank,2)}</label>{:getUserLevel($me.user_rank,1)}</div>
                                <p class="com_box">
                                    <a class="enter_link" href="{:url('company/create')}" role="button">创建企业</a>
                                    <a class="enter_link" href="{:url('company/join')}" role="button">加入企业</a>
                                </p>
                                {else/}
                                    <span>
                                        <img src="{if condition='!empty($company.company_head_portrait)'}{$company.company_head_portrait|get_image_path}{else/}__RESOURCES__images/touxiang.png{/if}"  />
                                    </span>
                                <div class="after_pp" >{$company.company_name}</div>
                                {/empty}
						    </div>
					     <div class="des"></div>
							{include file="company/_left" /}
						</div>
						<script>
						new Vue({
						el:'.col-md-3.que_left',
							data:{
								action:803
							}
						});
						</script>
                        <?php $arr = ['论坛资源','微博资源','微信资源','朋友圈资源','博客资源','视频资源','直播资源','头条资源'];?>
						<div class="col-md-9 que_right " >	
								<div class="row">
									<div class="col-md-12 need_right ">
										<div class="per_nei">
											<ul class="com_ul">
                                                {for start="1" end="9"}
                                                <li><a {if condition="$type_id==$i"}class="active"{/if} href="{:url('company/media_receipt',['type_id'=>$i])}">{$arr[$i-1]}</a></li>
                                                {/for}
										    </ul>	
										</div>
										<div class="dispath">
                                            <div class="col-md-12  cash_a4">
                                                <span class="title_a">共有  <label class="active_nav">{$list.total}</label>{$arr[$type_id-1]}个派单</span>
                                                <div class="payment_box">
                                                    <div class="layui-form layui_a">
                                                        <div class="layui-inline month layui_r">
                                                            <input type="text" class="layui-input test-item" id="start" value="{$startDate}">
                                                        </div>
                                                        <div class="layui-inline month">
                                                            <input type="text" class="layui-input test-item" id="end" value="{$endDate}">
                                                        </div>
                                                    </div>
                                                    <select class="payment_select">
                                                        <option value="-1" {if condition="$status==-1"}selected{/if}>全部</option>
                                                        <option value="0" {if condition="$status==0"}selected{/if}>待接单</option>
                                                        <option value="1" {if condition="$status==1"1}selected{/if}>已接单</option>
                                                        <option value="2" {if condition="$status==2"}selected{/if}>已拒单</option>
                                                    </select>
                                                    <form class="search_btn_1">
                                                        <button class="payment_q" type="button" id="payment_search">确认</button>
                                                    </form>
                                                </div>
                                            </div>
										</div>
			
										<div class=""  style="padding:20px;">
                                            {empty name="$list.data"}
                                            <div class="com_no_data">
                                                <img src="__RESOURCES__images/no_data_1.png" />
                                                <p>暂无数据</p>
                                            </div>
                                            {else /}
                                            {volist name="list.data" id="value"}
                                            <table class="table table_pay">
                                                <tr class="table_first table_first_1">
                                                    <td>头像</td>
                                                    <td>昵称</td>
                                                    <td>ID</td>
                                                    <td>申请派单金额</td>
                                                    <td>提交时间</td>
                                                    <td>状态</td>
                                                    <td>操作</td>
                                                </tr>
                                                <tr class="payment_table">
                                                    <td>
                                                        <a href="#" class="com_list_4">
                                                            <img src="{$value.user_picture|get_image_path}"  class="img-circle" />
                                                        </a>
                                                    </td>
                                                    <td>{$value.nick_name}</td>
                                                    <td>{$value.user_id}</td>
                                                    <td>{$value.price_sum}</td>
                                                    <td>{$value.add_time|date='Y-m-d H:i:s',###}</td>
                                                    <td>{$value.status_name}</td>
                                                    <td><a class="qidao_pai_1" href="{:url('company/receipt_details',['id'=>$value.id])}">查看详情</a></td>
                                                </tr>
                                            </table>
                                            {/volist}
                                            {/empty}
										</div>
											
								    </div>
                                    {notempty  name="list.data"}
                                    <!--分页-->
                                    <div class="fenye">

                                        <div style="width:800px;margin:0 auto;">
                                            <div id="kkpager"></div>
                                        </div>
                                    </div>
                                    {/notempty}
								</div>
						   </div>
						
					</div>
				</div>
			</div>
		</div>		
		<!--企业主页结束-->			
		<!--footer-->		
		{include file="public/footer1" /}
			<!--右侧导航栏-->
	    {include file="public/footer2" /}
	    {include file="public/js_1" /}
		<script>
			var need_result=new Vue({
				el:"#need_result",
				data:{
					action:803,
					table:[
						{
							table_1:"图片",
							table_2:"派单标题",
							table_3:"派单人",
							table_4:"派单金额",
							table_5:"提交时间",
							table_6:"状态",
							table_7:"操作",
							tables_1:"__RESOURCES__images/angr.png",
							tables_2:"同道大叔",
							tables_3:"覃俊威",
							tables_4:"10000",
							tables_5:"2017-12-13",
							tables_6:"已接单",
							tables_7:"申请查看"
						},
					]					
				},
			});
			
			for (var i=0; i<7; i++) {
				need_result.table.push(need_result.table[0]) 
			}
		</script>
            <script type="text/javascript">
            //		分页
			function getParameter(name) { 
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); 
				var r = window.location.search.substr(1).match(reg); 
				if (r!=null) return unescape(r[2]); return null;
			}
			
			//init
			$(function(){

                var pageNo = "{$list.current_page}";
                if(!pageNo){
                    pageNo = 1;
                }
                //生成分页
                //有些参数是可选的，比如lang，若不传有默认值
                kkpager.generPageHtml({
                    pno : pageNo,
                    //总页码
                    total : "{$list.last_page}",
                    //总数据条数
                    totalRecords : "{$list.total}",
                    //链接前部
                    hrefFormer : '{:url("index/company/media_receipt",["startDate"=>$startDate,"endDate"=>$endDate,"status"=>$status,"type_id"=>$type_id])}',
                    //链接尾部
                    hrefLatter : '',
                    getLink : function(n){
                        return this.hrefFormer + this.hrefLatter + "?pno="+n;
                    }
                });
			});
            laydate.render({
                elem: '#start',
                max:$('#end').val()
                ,trigger: 'click'
            });
            laydate.render({
                elem: '#end',
                min:$('#start').val(),
                max:0,
                trigger: 'click'
            });
            $('#payment_search').click(function(){
                var start = $('#start').val();
                var end = $('#end').val();
                var status = $('.payment_select').val();
                window.location.href = "{:url('index/company/media_receipt',['type_id'=>$type_id])}"+"/startDate/"+start+"/endDate/"+end+"/status/"+status;
            })

			</script>
	
	</body>
	
</html>
