<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我加入的企业</title>
	</head>
	{include file="public/css" /}
	    {include file="public/js" /}
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		<!-- header2 -->
		{include file="public/header2" /}
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<!--企业主页-->
		<div class="que_con business_b clearfix">
			<div class="wrap">
				{include file="public/que_menu" /}
				<div class="que_a">
					<div class="row">
						<div class="col-md-3 que_left">
							{include file="company/_left" /}
						</div>
						<script>
						new Vue({
							el:'.col-md-3.que_left',
							data:{
								action:1
							}
						});
						</script>
						
						<div class="col-md-9 que_right ">							
							<div class="row">
								<div class="business_jianjie">
									<div class="per_nei">
										<div class="row per_k">
										    <div class="col-md-8 title_aa">企业简介</div>	
										   
										</div>
								    </div>
								    <div class="business_detail">
								    	<p>
								    		小蚁兵团是为了解决中小企业营销难营销贵而创立，目前集合超过70多种营销方式，可以实现小到文章浏览、转发、评论，大到媒体、
								    		电视广告等多种营销方式，基本上适用于市面上99%的产品营销推广。自从四年前小蚁兵团1.0版本，在国内首创三级分销以来，三级分销已成为各行各业重要营销手段。
								    		目前我们根据以往多年营销经验和对未来市场营销发展预测，全面升级小蚁兵团，
								    		同时再次在国内首创十多种营销方式，并获得发明专利，其中最重要的就是“企业营销”“万能营销”“圈子营销”等。
								    	</p>
								    </div>
								</div>
								<!--员工管理-->
								<div class="des"></div>
								<div class="business_jianjie">
									<div class="per_nei">
										<div class="row per_k">
										    <div class="col-md-8 title_aa">员工管理</div>	
										    <div class="col-md-4">
										    	<a class="bianji after_1" href="#">更多</a>
										    </div>
										</div>
								    </div>
								    <div class="business_yuan">
									   <div class="Business_box business_border">
											<div class="media">
											  <div class="media-left media-middle">								   
											      	<a href="#" class="business_left"><img src="__RESOURCES__images/a1.png" /></a>
											   
											  </div>
											  <div class="media-body business_ov">
											    	<div class="business_top clearfix">
											    		<p class="business_pp">
											    			<span class="vip business_xiu">VIP3</span>柚子皮很奈斯<a class="business_xiu master" href="#">管理员</a>
											    			<a class="bianji sent_mesege6" href="#">发消息</a>
											    		</p>
											    		<ul class="business_ul_list">
											    			<li>ID：565656</li>
											    			<li>达人等级：蚁将达人</li>
											    			<li>电话号码：13542965640</li>
											    			<li>备注：覃俊威</li>
											    			
											    			
											    			
											    		</ul>
											    	</div>	
											  </div>
											</div>
										</div>
										<!--第二模块-->
										<div class="Business_box business_border">
											<div class="media">
											  <div class="media-left media-middle">								   
											      	<a href="#" class="business_left"><img src="__RESOURCES__images/a1.png" /></a>
											   
											  </div>
											  <div class="media-body business_ov">
											    	<div class="business_top clearfix">
											    		<p class="business_pp">
											    			<span class="vip business_xiu">VIP3</span>柚子皮很奈斯
											    			<a class="bianji sent_mesege6" href="#">发消息</a>
											    		</p>
											    		<ul class="business_ul_list">
											    			<li>ID：565656</li>
											    			<li>达人等级：蚁将达人</li>
											    			<li>电话号码：13542965640</li>
											    			<li>备注：覃俊威</li>
											    			
											    			
											    		</ul>
											    	</div>	
											  </div>
											</div>
										</div>
										<!--第二模块-->
										<div class="Business_box business_border">
											<div class="media">
											  <div class="media-left media-middle">								   
											      	<a href="#" class="business_left"><img src="__RESOURCES__images/a1.png" /></a>
											   
											  </div>
											  <div class="media-body business_ov">
											    	<div class="business_top clearfix">
											    		<p class="business_pp">
											    			<span class="vip business_xiu">VIP3</span>柚子皮很奈斯
											    			<a class="bianji sent_mesege6" href="#">发消息</a>
											    		</p>
											    		<ul class="business_ul_list">
											    			<li>ID：565656</li>
											    			<li>达人等级：蚁将达人</li>
											    			<li>电话号码：13542965640</li>
											    			<li>备注：覃俊威</li>
											    			
											    			
											    		</ul>
											    	</div>	
											  </div>
											</div>
										</div>
										<!--第二模块-->
										<div class="Business_box business_border">
											<div class="media">
											  <div class="media-left media-middle">								   
											      	<a href="#" class="business_left"><img src="__RESOURCES__images/a1.png" /></a>
											   
											  </div>
											  <div class="media-body business_ov">
											    	<div class="business_top clearfix">
											    		<p class="business_pp">
											    			<span class="vip business_xiu">VIP3</span>柚子皮很奈斯
											    			<a class="bianji sent_mesege6" href="#">发消息</a>
											    		</p>
											    		<ul class="business_ul_list">
											    			<li>ID：565656</li>
											    			<li>达人等级：蚁将达人</li>
											    			<li>电话号码：13542965640</li>
											    			<li>备注：覃俊威</li>
											    			
											    			
											    		</ul>
											    	</div>	
											  </div>
											</div>
										</div>
										<!--第二模块-->
										<div class="Business_box business_border">
											<div class="media">
											  <div class="media-left media-middle">								   
											      	<a href="#" class="business_left"><img src="__RESOURCES__images/a1.png" /></a>
											   
											  </div>
											  <div class="media-body business_ov">
											    	<div class="business_top clearfix">
											    		<p class="business_pp">
											    			<span class="vip business_xiu">VIP3</span>柚子皮很奈斯
											    			<a class="bianji sent_mesege6" href="#">发消息</a>
											    		</p>
											    		<ul class="business_ul_list">
											    			<li>ID：565656</li>
											    			<li>达人等级：蚁将达人</li>
											    			<li>电话号码：13542965640</li>
											    			<li>备注：覃俊威</li>
											    			
											    			
											    		</ul>
											    	</div>	
											  </div>
											</div>
										</div>
										
										<div class="business_more">
											<a href="#">点击查看更多</a>
										</div>
										
								    </div>
								</div>
								
								
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!--企业主页结束-->
		<!--footer-->	
		{include file="public/footer1" /}
			<!--右侧导航栏-->
	    {include file="public/footer2" /}
		{include file="public/js_1" /}
		<script>
			$(".hover_p").hover(function(){
				$(".business_erm").fadeIn();
			},function(){
				$(".business_erm").fadeOut();
				
			});
		</script>
		
			
	</body>
	
</html>
