<div class="row" id="cuxiao">
	{foreach name="list" item="value"}
	<div  class="col-md-3 ">
		<div class="mark_m">
			<a href="{:Url('marketing/info',['key'=>$value.id])}" title=""><img src="{$value.banner_img|get_image_path}"></a>
			<div class="sec_bb  ziti sec_ccc">
				<p class="mian_1">{$value.name}</p>
				<p class="mian_2">分红：{$value.cutting_value|number_format}蚁币</p>
				<div class="main_5">
					<span class="cu-1">{$value.promotion_name|default=""}</span>
					<span>余{$value.qty-$value.brought_total}份</span>
					<span>{$exam_time_type[$value.exam_time_type_id]}审核</span>
				</div>
				<a href="{:Url('marketing/info',['key'=>$value.id])}" title="" alt="" style="margin-top: 3px;">马上抢</a>	
			</div>
		</div>
	</div>
	{/foreach}
</div>