<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>网络营销-详情</title>
	</head>
	{include file="public/css" /}
	{include file="public/js" /}
	<body>
		<div id="app">
		<!--顶部说明-->
		{include file="public/header1" /}
		{include file="public/header2" /}
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		
		<div class="que_con que-a clearfix">
			<div class="wrap">
				<div class="que_menu">
					<p><img src="__RESOURCES__images/home.png"/><a href="index.html">首页</a><img src="__RESOURCES__images/right_2.png"/><a href="marketing.html">市场营销</a><img src="__RESOURCES__images/right_2.png"/><a href="Promotions.html">产品体验</a><img src="__RESOURCES__images/right_2.png"/>产品详情</p>
				</div>
				<div class="">
					<div class="row">
						<div class="col-md-9 detail_right clearfix">
							<div class="d_box1">
							   <div class="row">
								<div class="col-md-6">
									<div class="d_left">
										<div class="media">
										  <div class="media-left media-middle">
										    <a class="ad_img" href="network_detail1.html">
										      <img class="media-object" src="__RESOURCES__images/xiao_1.png" alt="...">
										    </a>
										  </div>
										  <div class="media-body">
										    <h4 class="media-heading d_title">去屑海飞丝营销活动</h4>
										    <p class="d_c">奖励：2000蚁币（已售200份）</p>
										    <p class="main2"><img src="__RESOURCES__images/icon.png">多看阅读</p>
										    <p><a class="d_now need_shen"  v-on:click="My_check" href="#" title="">马上抢</a></p>
										  </div>
										</div>
										
								    </div>
								</div>
								<div class="col-md-6">
									<div  class="d_er">
										<img src="__RESOURCES__images/erweima.png" />
										<p>扫描二维码</p>
										<p>下载APP享受最佳体验</p>
									</div>
								</div>
								<div class="fenxiang clearfix">
									<div class="col-md-1">分享到：</div>
									<div class="col-md-11">
										<div class="bdsharebuttonbox fenxiang_1">
											<!--<a href="#" class="bds_more" data-cmd="more"></a>-->
											<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">qq空间</a>
											<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博 </a>
											<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
											<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
											<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
											<a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">豆瓣网</a>
											
										</div>
										
									</div>
									
								</div>
							</div>
							</div>
							<!--操作流程-->
							<div class="caozuo_box clearfix">
								<h4>操作流程<small>（请严格按照“操作演示”流程操作）</small></h4>
								<div class="shijian">
									<div class="container1">
										<div class="main main1">
											<ul class="cbp_tmtimeline d_beform">
												<li>
													
													<div class="cbp_tmicon d-img"></div>
													<div class="cbp_tmlabel">
														<div class="row">
														  <div class="col-md-12 foot-w1">下载安装体验  </div>
														  <div class="col-md-12 foot_22">安装打开体验产品个项目一分钟以内，安装打开体验产品个项目一分钟以内。</div>
														</div>
														
														
													</div>
												</li>
											
												<li>
													
													<div class="cbp_tmicon d-img2"></div>
													<div class="cbp_tmlabel">
														<div class="row">
														  <div class="col-md-12 foot-w1">次日打开体验</div>
														  <div class="col-md-12 foot_22">安装打开体验产品个项目一分钟以内，安装打开体验产品个项目一分钟以内安装打开体验产品个项目一分钟以内安装打开体验产品个项目一分钟以内安装打开体验产。</div>
														</div>
													</div>
												</li>
												<li>
													
													<div class="cbp_tmicon d-img3"></div>
													<div class="cbp_tmlabel">
														<div class="row">
														  <div class="col-md-12 foot-w1">再次打开体验</div>
														  <div class="col-md-12 foot_22">安装打开体验产品个项目一分钟以内，安装打开体验产品个项目一分钟以内安装打开体验产品个项目一分钟以
														  	内安装打开体验产品个项目一分钟以内安装打开体验产品个项目一分钟以内安装打开体验。
														  </div>
														</div>
													</div>
												</li>
												
												
											
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--操作演示-->
							<div class="caozuo_box ccc clearfix">
								<h4>操作演示<small>(点击下图可放大显示)</small></h4>
								<!--<div class="shijian">-->
									<div id="slider" >
										<div class="spic">
											<img src="__RESOURCES__images/xiangqing.png" />											
										</div>
										<div class="spic">
											<img src="__RESOURCES__images/xiangqing.png" />										
										</div>
										<div class="spic">
											<img src="__RESOURCES__images/xiangqing.png" />										
										</div>
										 <div class="spic">
											<img src="__RESOURCES__images/xiangqing.png" />										
										</div>
										<div class="spic">
											<img src="__RESOURCES__images/xiangqing.png" />										
										</div>
										<div class="spic">
											<img src="__RESOURCES__images/xiangqing.png" />
										
										</div>    
									</div>  
									
								<!--</div>-->
							</div>
							<!--演示流程结束-->
							<div class="caozuo_box vv  clearfix">
								<h4>产品介绍</h4>
								<div class="jieshao">
									 <p>资深编辑团队推荐值得你阅读的新闻话题</p>
									 <p>所有文章由专业作者原创撰写，锁定全球范围影响你日常的公司、事件和产品</p> 
									 <p>好奇心日报选定的 15 家影响你生活方式的公司作为重要报道对象，这其中包括宜家、Google、百度、腾讯、阿里巴巴、星巴克、亚马逊等。</p>
									 <p>它们对于商业世界有着指标意义，一举一动影响着全球市场以及个人生活。我们通过围绕这些公司的报道为你提供有借鉴意义的商业洞察。</p>
									 <p>好奇心研究所，我们希望知道你如何看待这个世界。</p>
									 <p>10 个图：用若干张图表来解读商业世界里发生了什么，公司真相。</p>
									 <p>每天两篇长文章：不用多说，这个世界值得静心去读的好文章和知识是永恒的。</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-3  detail_l">
							<div class="per_title8 ">
								<h5>相关推荐</h5>
							</div>
							<div class="per_h">
								<div class="media">
								  <div class="media-left">
								    <a class="market_img" href="network_detail1.html">
								      <img class="media-object" src="__RESOURCES__images/xiao_2.png" alt="...">
								    </a>
								  </div>
								   <div class="media-body per_j">
								    <h4 class="media-heading">去屑海飞丝营销活动</h4>
								 	<p>奖励：300蚁币</p>
								 	<p><a  class="market_box" href="network_detail1.html" title="">马上抢</a></p>
								  </div>
								</div>
							</div>
							<div class="per_h">
								<div class="media">
								  <div class="media-left">
								    <a class="market_img" href="network_detail1.html">
								      <img class="media-object" src="__RESOURCES__images/xiao_2.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body per_j ">
								    <h4 class="media-heading">去屑海飞丝营销活动</h4>
								 	<p>奖励：300蚁币</p>
								 	<p><a  class="market_box" href="network_detail1.html" title="">马上抢</a></p>
								  </div>
								</div>
							</div>
							<div class="per_h">
								<div class="media">
								  <div class="media-left">
								    <a class="market_img" href="network_detail1.html">
								      <img class="media-object" src="__RESOURCES__images/xiao_2.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body per_j ">
								    <h4 class="media-heading">去屑海飞丝营销活动</h4>
								 	<p>奖励：300蚁币</p>
								 	<p><a  class="market_box" href="network_detail1.html" title="">马上抢</a></p>
								  </div>
								</div>
							</div>
							<div class="per_h">
								<div class="media">
								  <div class="media-left">
								    <a class="market_img" href="network_detail1.html">
								      <img class="media-object" src="__RESOURCES__images/xiao_2.png" alt="...">
								    </a>
								  </div>
								   <div class="media-body per_j ">
								    <h4 class="media-heading">去屑海飞丝营销活动</h4>
								 	<p>奖励：300蚁币</p>
								 	<p><a  class="market_box" href="network_detail1.html" title="">马上抢</a></p>
								  </div>
								</div>
							</div>
							<div class="per_h vv">
								<div class="media">
								  <div class="media-left">
								    <a class="market_img" href="network_detail1.html">
								      <img class="media-object" src="__RESOURCES__images/cu_2.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body per_j  ">
								    <h4 class="media-heading">去屑海飞丝营销活动</h4>
								 	<p>奖励：300蚁币</p>
								 	<p><a  class="market_box" href="network_detail1.html" title="">马上抢</a></p>
								  </div>
								</div>
							</div>
							<div class="des"></div>
							<!--常见问题-->
							<div class="per_title8 ">
								<h5>常见问题</h5>
							</div>
							<ul class="detail_a">
							  <li class="detail_act"><span ></span><a href="#" title="">怎么申请成为小蚁达人呢？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							  <li><span ></span><a href="#" title="">小蚁兵团是个什么样的APP？</a></li>
							</ul>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!--footer-->
		{include file="public/footer1" /}
			
		<!--右侧导航栏-->
		{include file="public/footer2" /}
		<div class="now_tan">
			<div class="now_tan_a">
				<div class="now_tan_c shen_box_2">
					<ul>
						<li style="width: 780px;height: 539px;">
							<div class="header_now">
							          <span class="net_box">上传文件<label class="net_lable"></label></span>
							          <dl class="net_ul">
							          	<dd class="active_dd">上传截图</dt>
							          	<dd>上传文档</dd>
							          </dl>
								<a class="header_close" href="javascript:;"> <img class="guanbiBtn" v-on:click="close" src="__RESOURCES__images/colse_5.png"/></a>
							</div>
							<div class="res_inner js_a">
								 <div class="container_ooo c_9 _scroll" v-bind="scroll">
									<div class="_panel-box">
										
										<div class="content_now" >
											<!--上传文件-->
											<div  class="net_top">
												<div class="hello">
												    <div class="upload">
												      <div class="upload_warp">
												        <div class="upload_warp_left" @click="fileClick">
												          <img src="__RESOURCES__images/cc_99.png">
												        </div>
												        <div class="upload_warp_right" @drop="drop($event)" @dragenter="dragenter($event)" @dragover="dragover($event)">
												          或者将文件拖到此处
												        </div>
												      </div>
												      <div class="upload_warp_text">
												        选中{{imgList.length}}张文件，共{{bytesToSize(this.size)}}
												      </div>
												      <input @change="fileChange($event)" type="file" id="upload_file" multiple style="display: none"/>
												      <div class="upload_warp_img" v-show="imgList.length!=0">
												        <div class="upload_warp_img_div" v-for="(item,index) of imgList">
												          <div class="upload_warp_img_div_top">
												            <div class="upload_warp_img_div_text">
												              {{item.file.name}}
												            </div>
												            <img src="__RESOURCES__images/colse_5.png" class="upload_warp_img_div_del" @click="fileDel(index)">
												          </div>
												          <img :src="item.file.src">
												        </div>
												      </div>
												    </div>
												  </div>
												   													
											</div>	
											
											
											
										</div>
				                        
				                       
									</div>
							   </div>	
									
						   </div>
							<div class="res_inner js_a net_dis">
							    
										
								<div class="content_now" >											
									<div  class="net_top">
										<div class="net_wendang ">
											<!--上传文档-->
											<div class="row bottom_j">
											 	
											  	<div class="col-md-12">
											  		<div class="re_right">
											  			<div class="re_xia">
											  			  <div class="uploader white">
																<input type="text" id="shangchuan" class="filename" readonly/>
																<input type="button" name="file" class="button" value="上传"/>
																<input type="file" size="30"/>
															</div>
					
											  			 </div>
					
					
											  		</div>
											  	</div>
											  	<div class="net_p">
												  请正确上传后缀名为<span class="active_nav">.doc  .docx   .xls   .xlsx   .ppt   .pptx </span>   的文件
											    </div>
											</div>
											
											
											
										</div>
									</div>
									
									
								</div>
				                        
				                       
								
							
							</div>
							
							
							
							<div class="dibu">
							   <a class="dd_now shen_now" href="javascript:;" title="">提交审核</a>			
							</div>
							
							
						
						</li>
						
						
					</ul>
				</div>
			</div>
			
		</div>		
		</div>	
			{include file="public/js_1" /}
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#slider').slider({ speed: 500 });
				});            
			</script>
			<!--新增js-->		
	       
			<script>			  
			  var app = new Vue({
			    el: '#app',
			    data () {
			      return {
			        imgList: [],
			        size: 0,
			        
			      }
			    },
			      methods: {
			          fileClick() {
			              document.getElementById('upload_file').click()
			          },
			          fileChange(el) {
			              if (!el.target.files[0].size) return;
			              this.fileList(el.target);
			              el.target.value = ''
			          },
			          scroll:function(){
			          	$("._scroll").yi_scroll();
			          	 $("._scroll-mh").yi_scroll({isMaxHeight:true,isBar:true});
			          },
			          fileList(fileList) {
			              let files = fileList.files;
			              for (let i = 0; i < files.length; i++) {
			                  //判断是否为文件夹
			                  if (files[i].type != '') {
			                      this.fileAdd(files[i]);
			                  } else {
			                      //文件夹处理
			                      this.folders(fileList.items[i]);
			                  }
			              }
			          },
			        My_check:function(){
						$(".now_tan").fadeIn(300);
					},
					close:function(){
						$(".now_tan").fadeOut(100);
					},
			          //文件夹处理
			          folders(files) {
			              let _this = this;
			              //判断是否为原生file
			              if (files.kind) {
			                  files = files.webkitGetAsEntry();
			              }
			              files.createReader().readEntries(function (file) {
			                  for (let i = 0; i < file.length; i++) {
			                      if (file[i].isFile) {
			                          _this.foldersAdd(file[i]);
			                      } else {
			                          _this.folders(file[i]);
			                      }
			                  }
			              })
			          },
			          foldersAdd(entry) {
			              let _this = this;
			              entry.file(function (file) {
			                  _this.fileAdd(file)
			              })
			          },
			          fileAdd(file) {
			              //总大小
			              this.size = this.size + file.size;
			              //判断是否为图片文件
			              if (file.type.indexOf('image') == -1) {
			                  file.src = 'wenjian.png';
			                  this.imgList.push({
			                      file
			                  });
			              } else {
			                  let reader = new FileReader();
			                  reader.vue = this;
			                  reader.readAsDataURL(file);
			                  reader.onload = function () {
			                      file.src = this.result;
			                      this.vue.imgList.push({
			                          file
			                      });
			                  }
			              }
			          },
			          fileDel(index) {
			              this.size = this.size - this.imgList[index].file.size;//总大小
			              this.imgList.splice(index, 1);
			          },
			          bytesToSize(bytes) {
			              if (bytes === 0) return '0 B';
			              let k = 1000, // or 1024
			                  sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
			                  i = Math.floor(Math.log(bytes) / Math.log(k));
			              return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
			          },
			          dragenter(el) {
			              el.stopPropagation();
			              el.preventDefault();
			          },
			          dragover(el) {
			              el.stopPropagation();
			              el.preventDefault();
			          },
			          drop(el) {
			              el.stopPropagation();
			              el.preventDefault();
			              this.fileList(el.dataTransfer);
			          }
			      }
			  })
			</script>
			 <script>
	        	$("._scroll").yi_scroll();
		        $("._scroll-mh").yi_scroll({isMaxHeight:true,isBar:true});
				 $(".guanbiBtn").click(function(){
			   		$(".now_tan").fadeOut(100);
			  });
			   $(".need_shen").click(function(){
			   	   $(".now_tan").fadeIn(300);
			   });
			   $(function(){
						$("input[type=file]").change(function(){$(this).parents(".uploader").find(".filename").val($(this).val());});
						$("input[type=file]").each(function(){
						if($(this).val()==""){$(this).parents(".uploader").find(".filename").val("No file selected...");}
					});
				});
				$(".net_ul dd").click(function(){
					$(".net_ul dd").removeClass("active_dd");
					$(this).addClass("active_dd");
					var dd=$(this).index();
					$(".js_a").hide();
					$(".js_a").eq(dd).show();
				});
				
			</script>
	</body>
	
</html>
