		<div class="footer clearfix">
			<div class="wrap">
				<div class="footer_left_a" style="width: 100%;">
					<div class="footer_bottom">
						<ul class="clearfix"> 
							<li class="footer_li">
								<img  class="footer_img" src="__RESOURCES__images/yidongban.png"/>
									移动端
								<div class="footer_hover" style="display: none;">
									<img src="__RESOURCES__images/app_down.png" />
								</div>
							</li>
							<li><a href="{:url('index/aboutus')}" title="" alt="" style="cursor:auto;">关于小蚁兵团<!--<span></span>--></a></li>
							<li><a href="{:url('index/joinus')}" title="" alt="">加入我们</a></li>
							<li><a href="{:url('index/contactus')}" title="" alt="">联系我们</a></li>
							<li><a href="{:url('index/quention')}" title="" alt="">常见问题</a></li>
							<li><a href="{:url('login/agreement')}" title="" alt="">用户协议</a></li>
							<li><a href="{:url('index/app_intro')}" title="" alt="">产品介绍</a></li>
							<li><a href="//shop.yi-zu.com" title="" alt="">小蚁商城</a></li>
							<li><a href="//app.yi-zu.com" title="" alt="">小蚁市场</a></li>
						</ul>
						<div class="footer_des"></div>
					</div>
					<!--<div class="footer_bottom" style="width: 100%;">
						<ul>                                                                       
							<li class="lianjie">友情链接：</li>{foreach name="friend_link" key="key" item="value"}
							<li><a href="{$value.link_url}" target="_blank" title="" alt="">{$value.link_name}</a><span></span></li>
							{/foreach}
						</ul>
					</div>-->
					<ul class="footer_t_1">
					    <li>Copyright © 2008-2018 yi-zu.com，All Rights Reserved {if condition="isset($_CFG['icp_number'])"}<a href="http://www.miibeian.gov.cn/" target="_blank">{$_CFG['icp_number']}</a>{/if}</li>
						<li>版权所有  广州点升信息技术有限公司&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1268178631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1268178631%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></li>
				    </ul>
					<!--
					<ul  class="footer_t_2">
						<a href="#" title="" alt=""><img src="__RESOURCES__images/footer_3.png"/></a>
						<a href="#" title="" alt=""><img src="__RESOURCES__images/footer_4.png"/></a>
						<a href="#" title="" alt=""><img src="__RESOURCES__images/footer_2.png"/></a>
						
					</ul>
					-->
				</div>
				<!--<div class="footer_righ_a">
					<div class="footer_inner">
						<div class="footer_r_i footer_r_o">
							<img src="__RESOURCES__images/app_down_3.png" />
							<p class="footer_p"><img class="aa_1" src="__RESOURCES__images/anzhuo_1.png"/>Android</p>
						</div>
						<div class="footer_r_i">
							<img  src="__RESOURCES__images/app_down_2.png" />
							<p class="footer_p"><img class="aa_2" src="__RESOURCES__images/appay_logo.png"/>待开放...</p>
						</div>
					</div>
				</div>-->
			</div>
		</div>
