<!--<div class="right_aside" id="leftsead">
	<ul>
		<li>
			<a  id="top_btn1"  href="#">
	    		 <img src="__RESOURCES__images/QQ_right.png"  />
   		   </a>
		</li>-->
		
		<!--<li class="er_1">
			 <a id="top_btn1" class="">
			    <img src="__RESOURCES__images/iconfont-erweima.png"  />
			 </a> 
			 <div class="erweima">
			 	<div class="erweima_9">
			 	   <img src="__RESOURCES__images/app_down.png" />
			 	</div>
			 </div>
		</li>-->
		<!--
		<li class="dianhua5">
			<div class="dianhua6">
				<a id="top_btn1" class="top_1">
			    <img src="__RESOURCES__images/iconfont-dianhua1.png"  /></a> <span>400-8888 888</span>
			</div>
		</li>
		<li style="margin-bottom:18px;">
             <a id="chatIndex" href="{:url('chat/index01')}" target="_blank" style="position: relative;">
			        <img src="__RESOURCES__images/zixun.png"  /><span class="badge  badge_1"></span>
			         <label class="top_hh">聊天</label>
			 </a> 
		</li>
		<li>
			 <a id="top_btn">
			   <img src="__RESOURCES__images/top.png"  />
			   <label class="top_hh">顶部</label>
		    </a>
		</li>
	</ul>
</div>-->
<!-- 返回顶部-->
<style>

</style>

<div class="scrollup" style="display: none;">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div> 

<!-- 返回顶部-->    
