<div class="menu_r">

	<ul class="menu_r_1">
		<!--_class="active_nav"-->
		<li ><a href="{:url('index/index')}" id="main_nav_index" title=""  class="" alt="">首页</a></li>
		<li><a href="?s=/index/marketing/index/key/4" id="main_nav_marketing" title="" alt="" class="" >推广需求</a></li>
		<li><a href="?s=/index/channel/index/category_id/1" id="main_nav_company"  title="" alt="" class="">渠道超市</a></li>
		<li><a href="?s=/index/marketing/information/key/1" id="main_nav_rank" target="_blank" title="" alt="" class="">免费福利</a></li>
		<li><a href="?s=/index/marketing/moonlighting/key/2" id="main_nav_xuan" target="_blank" title="" alt="" class="">兼职达人</a></li>
		<li><a href="?s=/index/index/sharethehall"  title="" alt="" class="">分享大厅</a></li><!---->
		<li><a href="https://shop.yi-zu.com/" title="" alt="" class="">小蚁商城<!--<span class="new_1"><img src="__RESOURCES__images/new_7.png"/></span>--></a></li><!---->
		<li><a href="?s=/index/login/index/from/index%252Fcompany%252Fcom_index"  target="_blank" title="" alt="" class="">营销店铺</a></li><!---->
		<li><a href="?s=/index/index/rank"  target="_blank" title="" alt="" class="">小蚁学院</a></li>
	</ul>

</div>





