<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的需求-网络营销-需求结果-申请审核</title>
	</head>
	{include file="public/css" /}
	{include file="public/js" /}
	<body >
		<div id="need_result">
		<!--顶部说明-->
		{include file="public/header1" /}
		<!-- header2 -->
		{include file="public/header2" /}
		<!--顶部说明-->
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<div class="que_con que-a clearfix" >
			<div class="wrap">
				<div class="que_menu">
					<p>
						<img :src="menu_home" /><a href="{:url('index/index')}">{{home}}</a>
						<img :src="menu_img1" /><a href="{:url('index/user/index')}">{{personal}}</a>
						<img :src="menu_img1" /><a href="{:url('index/user/myneed')}">{{personal_1}}</a>
						<img :src="menu_img1" /><a href="{:url('index/user/myneed',['key'=>4])}">{{marketing_list1}}</a>
						<img :src="menu_img1" /><a href="{$pUrl}">{{result}}</a>
					</p>
				</div>
				<div class="que_a">
					<div class="row">			
						<div class="col-md-12 need_right ">
								<div class="per_nei vv">
								<div class="row per_kk">
								  <div class="col-md-12 title_a cash_a">
								  	<div class="footprints_box cash_k_1">
										<div class="demo3 cash_box need_h">											
											<span id="time">{{time}}</span><input class="laydate-icon need_u" id="start" value="{$start_date}">
											<span>-</span><input class="laydate-icon need_u" id="end" value="{$end_date}">
										</div>
										<ul class="need_ul">
											<li class="">
												<select class="need_sel need_u" id="my_need_select">
                                                    <option value="-1">审核状态</option>
                                                    <option value="0">待审核</option>
                                                    <option value="1">审核通过</option>
                                                    <option value="2">审核不过</option>
                                                    <option value="4">重新提交</option>
												</select>									
										    </li>
										</ul>
										<form class="search_btn">
											<button class="btn btn-default" id="my_need_search" type="button">搜索</button>
										</form>
									</div>
								  </div>
								</div>
							</div>
							<div class=""  style="padding: 0 20px;">
								<table class="table table_1">
									<tr class="table_first">
								  	   <td>ID</td>
								       <td>会员名称</td>
								       <td>申请时间</td>
								       <td>审核状态</td>
								       <td>审核方</td>
								    </tr>
                                    {volist name="list.data" id="item"}
								     <tr>
								  	   <td>{$item.user_id}</td>
								       <td>{$item.nick_name}</td>
								       <td>{$item.add_time|date="Y-m-d",###}</td>
								       <td>{if condition="$item.status==0"}
                                           待审核
                                           {elseif condition="$item.status==1"}
                                           <font style="color:#FF5C00;">审核通过</font>
                                           {elseif condition="$item.status==2"}
                                           <font style="color:red;">审核不通过</font>
                                           {elseif condition="$item.status==3"}
                                           <font style="color:#FF5C00;"> 取消</font>
                                           {elseif condition="$item.status==4"}
                                           <font style="color:#FF5C00;">重新提交</font>
                                           {elseif condition="$item.status==5"}
                                           <font style="color:#ffff00;">已抢完</font>
                                           {/if}
                                       </td>
								       <td>{if condition="$item.status==0"}
                                           <a class="btn btn-default need_shen" href="javascript:;" data="{$item.user_id}" data1="{$item.id}" role="button" v-on:click="My_check($event)">审核</a>
                                           {elseif condition="$item.status==1"}
                                           <font style="color:#FF5C00;">审核通过</font>
                                           {elseif condition="$item.status==2"}
                                           <font style="color:red;">审核不通过</font>
                                           {elseif condition="$item.status==3"}
                                           <font style="color:#FF5C00;"> 取消</font>
                                           {elseif condition="$item.status==4"}
                                           <font style="color:#FF5C00;">重新提交</font>
                                           {elseif condition="$item.status==5"}
                                           <font style="color:#ffff00;">已抢完</font>
                                           {/if}
                                       </td>

                                     </tr>
                                    {/volist}
								</table>
							</div>
									
						</div>
						<!--分页-->
						<div class="fenye">
							
							<div style="width:800px;margin:0 auto;">
								<div id="kkpager"></div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!--footer-->
					
		{include file="public/footer1" /}
	    {include file="public/footer2" /}

			<!--马上抢弹窗-->

		<div class="now_tan">
			<div class="now_tan_a">
				<div class="now_tan_c shen_box_1">
					<ul>
						<li>
							<div class="header_now">
								{{tan_title}}
								<a class="header_close" href="javascript:;"> <img class="guanbiBtn" v-on:click="close" src="__RESOURCES__images/colse_5.png"/></a>
							</div>
							
							<div class="res_inner">
							    <div class="container_ooo c_8 _scroll">
									<div class="_panel-box">
										
										<div class="content_now" >
											<div class="shen_sec clearfix">
												<div class="media shen_sec_1">
													  <div class="media-left media-middle">
													    <a href="#" class="shen_sec_img">
													      <img class="media-object" :src="tan_img1" alt="...">
													    </a>
													  </div>
													  <div class="media-body">
													    <h4 class="media-heading">
													    	<div class="per_vip shen_sec_t">
																<a href="Personal.html"><span>{{tan_vip}}</span>{{tan_tiltle1}}</a>
															</div>
													    </h4>
													    <p><span>ID：{{tan_id}}</span><span>{{tan_jibie}}</span><span>{{tan_Identity}}</span></p>
													  </div>
			                                     </div>
			                                     <div class="sec_r">
			                                 		<div class="sec_r_1" v-for="reward in rewards">
			                                 			<p>{{reward.rewards_number}}</p>
			                                 			<p>{{reward.rewards_totol}}</p>
			                                 		</div>
			                      
			                                     </div>
												
											</div>
											<div class="res_jietu">
												<h3><strong>申请资料：</strong></h3>
											</div>
											
											<!--有数据调用-->
											<div class="res_con">
												
												<div class="luo_box">
													<div class="row">
														<div class="col-md-2 luo_2 luo_1">姓       名：</div>
														<div class="col-md-10 luo_2">{{apply_info.apply_name}}</div>
														<div class="col-md-2 luo_1 luo_2">联系电话：</div>
														<div class="col-md-10 luo_2">{{apply_info.apply_phone}}</div>
														<div class="col-md-2 luo_1 luo_2">申请时间：</div>
														<div class="col-md-10 luo_2">{{apply_info.apply_time}}</div>
														<div class="col-md-2 luo_1 luo_2">申请理由：</div>
														<div class="col-md-10 luo_2">{{apply_info.apply_reason}}</div>
													</div>
												</div>												
											</div> 
											<div class="shen_three">
												<div class="row">
													<div class="col-md-2 shen_left res_1"><h3><strong>编号分配：</strong></h3></div>
													<div class="col-md-10 shen_jd">
														<div class="checkbox checkbox-success checkbox-inline" v-for="(item, index)  in apply_info.apply_packet_list">
									                        <input type="checkbox" name="packet[]" class="styled" v-bind:id="item.packet_id" v-bind:value="item.packet_id">
									                        <label v-bind:for="item.packet_id">{{item.packet_number}}</label>
									                    </div>
													</div>
												</div>
											</div>
											<div class="shen_three">
												<div class="row">
													<div class="col-md-2 shen_left res_1"><h3><strong>负责商务：</strong></h3></div>
                                                    <div class="col-md-10">
                                                        <!--有数据-->
                                                        <input type="hidden" id="bussinessid" v-bind:value="bussinessid">
                                                        <p class="res_word res_b"><input type="text" placeholder="输入用户ID/手机号码"/><button class="btn btn-info" type="button" @click="addUser($event)" style="margin-left: 5px;">添加</button>
                                                            <span style="font-size: 12px;">{{add_user}}</span></p>
                                                    </div>
												</div>
											</div>
											<div class="shen_three" style="margin-bottom: 20px;">
												<div class="row">
													<div class="col-md-2 shen_left res_1"><h3><strong>审核操作：</strong></h3></div>
													<div class="col-md-10">
														<div class="radio radio2 radio-danger">
							                                <input type="radio" name="radio1" id="radio1" value="1">
							                                <label for="radio1">申请通过</label>
							                            </div>
							                            <div class="radio  radio2 radio-danger">
							                                <input type="radio" name="radio1" id="radio2" value="5">
							                                <label for="radio2">已抢完</label>
							                            </div>
							                             <div class="radio  radio2 radio-danger">
							                                <input type="radio" name="radio1" id="radio3" value="4">
							                                <label for="radio3">重新申请</label>
							                            </div>
                                                        <div class="radio  radio2 radio-danger">
                                                            <input type="radio" name="radio1" id="radio4" value="2">
                                                            <label for="radio4">申请不过</label>
                                                        </div>
													</div>
												</div>
											</div>
										
											
										</div>
				                        
				                       
									</div>
							   </div>
							
							</div>
					
							<div class="dibu">
							   <a class="dd_now shen_now" href="javascript:;" @click="btnSubmit()" title="">提交审核</a>
							</div>
							
							
						
						</li>
						
						
					</ul>
				</div>
			</div>
			
		</div>		
		</div>
		{include file="public/js_1" /}
		<script>
			var need_result=new Vue({
				el:"#need_result",
				data:{
					menu_home:"__RESOURCES__images/home.png",
					home:"首页",
					menu_img1:"__RESOURCES__images/right_2.png",
					personal:"个人中心",
					personal_1:"我的需求",
					marketing_list1:"网络营销",
					result:"需求结果",
					meed_img1:"__RESOURCES__images/mian_1.png",
					meeg_title:"双11全球狂欢节",
					publisher:"发布人：",
					release_time:"发布时间：",
					Audit:"小时审核",
					time:"时间：",
					tan_title:"审核需求",
					tan_img1:"__RESOURCES__images/yinyuanfuLOGO.png",
					tan_tiltle1:"",
					tan_vip:"",
					tan_id:"",
					tan_jibie:"",
					tan_Identity:"",
                    tan_apply_id:'',
					rewards:[{
						rewards_number:"0蚁币",
						rewards_totol:"总奖励"
					},
					{
						rewards_number:"0蚁币",
						rewards_totol:"总分红"
					},
					{
						rewards_number:"0蚁兵",
						rewards_totol:"总兵团"
					}],
                    apply_info:{
                        apply_name:"",
                        apply_phone:"",
                        apply_time:"",
                        apply_reason:"",
                        apply_packet_list:[]
                    },
                    add_user:'【ID】89【用户名】68461287-976637【手机】13200010002【公司】广州点升信息技术有限公司',
                    bussinessid:0
					
				},
				methods:{
					My_check:function(event){
						$(".now_tan").fadeIn(300);
                        var userId = $(event.target).attr('data');
                        var applyId = $(event.target).attr('data1');
                        if(userId=='' || userId==null || typeof userId=='undefined'){
                            return;
                        }
                        Vue.set(need_result,'tan_apply_id',applyId);
                        $.ajax({
                            type:'get',
                            url:'index.php?s=/index/user/taskApplyInfo',
                            data:{userId:userId,applyId:applyId},
                            async:false,
                            success:function(response){
                                var obj = JSON.parse(response);
                                if(obj.code){
                                    Vue.set(need_result,'tan_tiltle1',obj.data.nick_name);
                                    Vue.set(need_result,'tan_vip',obj.data.vip);
                                    Vue.set(need_result,'tan_id',obj.data.user_id);
                                    Vue.set(need_result,'tan_jibie',obj.data.rank_name);
                                    Vue.set(need_result,'tan_Identity',obj.data.profession_name);
                                    Vue.set(need_result,'tan_img1',obj.data.user_picture);
                                    Vue.set(need_result.rewards[0],'rewards_number',obj.data.reward_total_all+'蚁币');
                                    Vue.set(need_result.rewards[1],'rewards_number',obj.data.cutting_total_all+'蚁币');
                                    Vue.set(need_result.rewards[2],'rewards_number',obj.data.corps+'蚁兵');
                                    Vue.set(need_result.apply_info,'apply_name',obj.data.contact_name);
                                    Vue.set(need_result.apply_info,'apply_phone',obj.data.contact_phone);
                                    Vue.set(need_result.apply_info,'apply_time',obj.data.add_time);
                                    Vue.set(need_result.apply_info,'apply_reason',obj.data.content);
                                    Vue.set(need_result.apply_info,'apply_packet_list',obj.data.packet_list);

                                }
                            }
                        });
					},
					close:function(){
						$(".now_tan").fadeOut(100);
					},
                    addUser:function(event){
                        var con = $(event.target).prev().val();
                        if(con==''){
                            layer.msg('请输入用户id/手机号');
                            return;
                        }
                        Vue.set(need_result,'add_user','');
                        $.ajax({
                            type:'get',
                            url:'index.php?s=/index/user/getUserByCondition',
                            data:{u:con},
                            async:false,
                            success:function(response){
                                var obj = JSON.parse(response);
                                if(obj.code){
                                    Vue.set(need_result,'add_user',obj.data.str);
                                    Vue.set(need_result,'bussinessid',obj.data.bussid);
                                }else{
                                    layer.msg(obj.msg);
                                }
                            }
                        });
                    },btnSubmit:function(){
                        var buss_id = need_result.bussinessid;
                        var user_id = need_result.tan_id;
                        var apply_id = need_result.tan_apply_id;
                        var status = $('input[name="radio1"]:checked').val();
                        var packets = $('input[name="packet[]"]:checked');
                        var p = [];
                        for(var i= 0;i<packets.length;i++){
                            p.push($(packets[i]).val());
                        }
                        if(buss_id==''){
                            layer.msg('请添加负责商务用户！');
                            return;
                        }
                        if(typeof p=='[]'){
                            layer.msg('请分配编号！');
                            return;
                        }
                        if(status==''||status==null){
                            layer.msg('请选择审核操作！');
                            return;
                        }
                        if(user_id=='' || apply_id==''){
                            layer.msg('请刷新页面！');
                            return
                        }

                        var data = {buss_id:buss_id,user_id:user_id,apply_id:apply_id,packet:p,status:status};
                        $.ajax({
                            type:'post',
                            url:'index.php?s=/index/user/taskApplyExaminePost',
                            data:data,
                            async:false,
                            success:function(response){
                                var obj = JSON.parse(response);
                                if(obj.code){
                                    layer.msg(obj.msg);
                                    $(".now_tan").fadeOut(100);
                                }else{
                                    layer.msg(obj.msg);
                                }
                            }
                        });
                    }
				}
			})
		</script>
		
		<script type="text/javascript">
			!function(){
				laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
				laydate({elem: '#demo'});//绑定元素
			}();
			
			//日期范围限制
			var start = {
			    elem: '#start',
			    format: 'YYYY-MM-DD',
//			    min: laydate.now(), //设定最小日期为当前日期
			    max: laydate.now(), //最大日期
			    istime: true,
			    istoday: false,
			    choose: function(datas){
			         end.min = datas; //开始日选好后，重置结束日的最小日期
			         end.start = datas //将结束日的初始值设定为开始日
			    }
			};
			
			var end = {
			    elem: '#end',
			    format: 'YYYY-MM-DD',
//			    min: laydate.now(),
			    max:laydate.now(),
			    istime: true,
			    istoday: false,
			    choose: function(datas){
			        start.max = datas; //结束日选好后，充值开始日的最大日期
			    }
			};
			laydate(start);
			laydate(end);
			
			//自定义日期格式
			laydate({
			    elem: '#test1',
			    format: 'YYYY年MM月DD日',
			    festival: true, //显示节日
			    choose: function(datas){ //选择日期完毕的回调
			        alert('得到：'+datas);
			    }
			});

			//日期范围限定在昨天到明天
			laydate({
			    elem: '#hello3',
			    min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
			    max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
			});
			</script>

            <script type="text/javascript">
                $("._scroll").yi_scroll();
                $("._scroll-mh").yi_scroll({isMaxHeight:true,isBar:true});
                function changeState(el) {
                    if (el.readOnly) el.checked=el.readOnly=false;
                     else if (!el.checked) el.readOnly=el.indeterminate=true;
                };
                window.onload = function() {
                    baguetteBox.run('.baguetteBoxOne');

                };

          </script>
          <script type="text/javascript">
            //		分页
			function getParameter(name) { 
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); 
				var r = window.location.search.substr(1).match(reg); 
				if (r!=null) return unescape(r[2]); return null;
			}
			
			//init
			$(function(){
				var totalPage = {$list.last_page};
				var totalRecords = {$list.total};
				var pageNo = getParameter('pno');
				if(!pageNo){
					pageNo = 1;
				}
				//生成分页
				//有些参数是可选的，比如lang，若不传有默认值
				kkpager.generPageHtml({
					pno : pageNo,
					//总页码
					total : totalPage,
					//总数据条数
					totalRecords : totalRecords,
					//链接前部
					hrefFormer : '{$pUrl}',
					//链接尾部
					hrefLatter : '',
					getLink : function(n){
						return this.hrefFormer + this.hrefLatter + "?pno="+n;
					}
				});
			});

            $('#my_need_search').click(function(){
                var start_date = $('#start').val();
                var end_date = $('#end').val();
                var status = $('#my_need_select').val();
                window.location.href = "{$sUrl}/start_date/"+start_date+"/end_date/"+end_date+"/status/"+status;
            })
			
			</script>
	
	</body>
	
</html>
