<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>结算记录</title>
	</head>
	{include file="public/css" /}
	{include file="public/js" /}
	
	</style>
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		{include file="public/header2" /}
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<div class="que_con que-a clearfix">
			<div class="wrap">
				<div class="que_menu_1 clearfix">
					<p><a href="index.html">首页</a><img src="__RESOURCES__images/right_2.png"/><a href="Personal.html">个人中心</a><img src="__RESOURCES__images/right_2.png"/>结算记录</p>
				</div>
				<div class="">
					
					<div class="re_a cash_t">
						<div class="per_nei vv" style="padding: 10px 20px;">
								<div class="row per_k">
								  <div class="col-md-12 title_a">								  	
								  	<span>结算记录</span>
								  	<form class="form_2" action="" method="get">
										<input type="hidden" name="t_id" value="" />
								  		<input type="text" name="name"  placeholder="搜索产品"/>
								  		<input type="submit"  value="搜索" />
								  	</form>
								  </div> 
								</div>
							</div>
						<!--表格-->
						<div class="col-md-12 ">							
							<div class="wellet_biao">
								<div class="row">
									<div class="col-md-12">
										<div class="wellet_b cash_o">
											
											<table class="table cash_table1">
												<tr>
												  	  <td>产品名称</td>
												      <td>编号</td>
												      <td>单价</td>
												      <td>已结算量</td>
												      <td>已结金额</td>
												      <td>结算时间</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	   <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											     <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												      <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												      <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	   <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												      <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	  <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											    <tr>
												  	   <td>小蚁兵团</td>
												      <td>10110</td>
												       <td>5</td>
												      <td>500</td>
												      <td>200</td>
												      <td>2014-02-02</td>
											    </tr>
											 
											 
											</table>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					
					<!--结束-->
					</div>
				</div>

			</div>
		</div>
		<!--footer-->
		{include file="public/footer1" /}
			<!--右侧导航栏-->
		{include file="public/footer2" /}
		{include file="public/js_1" /}
		<script type="text/javascript" src="__RESOURCES__js/jquery.validate.min.js" ></script>
		<script>
		 	
			//表单验证
		
		</script>
		<script type="text/javascript">
		    function changeState(el) {
		        if (el.readOnly) el.checked=el.readOnly=false;
		        else if (!el.checked) el.readOnly=el.indeterminate=true;
		    };
		    var settlement=new vue({
		    	el:"form_withdraw",
		    	data:"",
		    	mobile_err :0,
		    });
	    </script>
	
	</body>

</html>
