<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的钱包</title>
	</head>
	{include file="public/css" /}
		{include file="public/js" /}
	<body>
		<!--顶部说明-->
		{include file="public/header1" /}
		{include file="public/header2" /}
		<!--menu-->
		<div class="new_menu">
			<div class="wrap">
			    {include file="public/menu_r" /}
			</div>
		</div>
		<!--menu结束-->
		<div class="que_con que-a clearfix">
			<div class="wrap">
				<div class="que_menu">
					<p><img src="__RESOURCES__images/home.png"/><a href="{:url('index/index')}">首页</a><img src="__RESOURCES__images/right_2.png"/><a href="{:url('user/index')}">个人中心</a><img src="__RESOURCES__images/right_2.png"/><a href="#">我的钱包</a></p>
				</div>
				<div class="que_a">
					<div class="row">
						<div class="col-md-3 min_w">
						{include file="user/left" /}
							
						</div>
						
						<div class="col-md-9 wallet_right ">
							<div class="per_title8">
								<h5>我的钱包</h5>
							</div>
							<div class="per_g bottom_p" style="padding: 20px 20px 40px 20px;">
								<div class="row">
								 	 <div class="col-md-2">
								 	 	<p class="lingqian">零钱</p>
								 	 	<p class="jine">{$userSession.user_money}<span>元</span></p>
							 	    </div>
								 	 <div class="col-md-2">
								 	 	<p class="lingqian">累计分红</p>
								 	 	<p class="jine">{$userSession.cutting_total}<span>元</span></p>
							 	    </div>
								 	  <div class="col-md-2">
								 	  	<p class="lingqian">奖励</p>
								 	 	<p class="jine">{$userSession.reward_total_all}<span>蚁币</span></p>
								 	  	
							 	    </div>
								 	   <div class="col-md-6 tixian1">
								 	   	   <a class="tixian" href="{:url('user/withdraw')}"  title="">提现</a>
								 	   </div>
								</div>
								
							</div>
							<div class="per_title8 vv">
								<h5>提现方式管理</h5>
							</div>
							<div class="wallet_box">
								<div class="row">
								 	 <!--<div class="col-md-4">-->
								 	 	<!--<div class="wallet_a">-->
									 	 	<!--<a class="weixin" href="{:url('user/bindwx')}" title="">-->
									 	 		<!--<img src="__RESOURCES__images/weixin.png" />-->
									 	 	<!--</a>-->
									 	 	<!--微信钱包-->
									 	 	<!--<a class="guanli" href="{:url('user/bindwx')}" title="">-->
									 	 		<!--管理-->
									 	 	<!--</a>-->
								 	 	<!--</div>-->
								 	 <!--</div>-->
								 	 <div class="col-md-4">
								 	 	<div class="wallet_a">
									 	 	<a class="weixin" href="{:url('user/bindali')}" title="">
									 	 		<img src="__RESOURCES__images/zhifubao.png" />
									 	 	</a>
									 	 	支付宝
									 	 	<a class="guanli" href="{:url('user/bindali')}" title="">
									 	 		管理
									 	 	</a>
								 	 	</div>
								 	 </div>
								 	  <div class="col-md-4">
								 	  		<div class="wallet_a">
									 	 	<a class="weixin" href="{:url('user/bindcard')}" title="">
									 	 		<img src="__RESOURCES__images/yinhangka.png" />
									 	 	</a>
									 	 	银行卡
									 	 	<a class="guanli" href="{:url('user/bindcard')}" title="">
									 	 		管理
									 	 	</a>
								 	 	</div>
								 	  </div>
								 	   
								</div>
								
							</div>
							<div class="des"></div>
							<div class="wellet_biao">
								<div class="row">
									<div class="col-md-12">
										<div class="wellet_b">
											<div class="per_nei vv">
												<div class="row per_k">
												  <div class="col-md-8 title_a wallet_j">提现记录</div>
												  <div class="col-md-4 title_b" ><a href="javascript:myWallet.go(1);"><img src="__RESOURCES__images/table_right.png"/></a><a href="javascript:myWallet.go(-1);"><img src="__RESOURCES__images/table_left.png"/></a></div>
												</div>
											</div>
											<table class="table table1" id="log_list">
												<tr>
											  	   <td>提现时间</td>
											      <td>提现方式</td>
											      <td>提现金额</td>
											    </tr>
												<tr>
													<td colspan="3" align="center">没有找到任何记录</td>
												</tr>
											</table>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!--footer-->
		{include file="public/footer1" /}
		<!--右侧导航栏-->
		{include file="public/footer2" /}
		{include file="public/js_1" /}
		<script type="text/javascript">
		function fmtDate(obj){
			var date =  new Date(obj*1000);
			var y = 1900+date.getYear();
			var m = "0"+(date.getMonth()+1);
			var d = "0"+date.getDate();
			return y+"-"+m.substring(m.length-2,m.length)+"-"+d.substring(d.length-2,d.length);
		}
		var myWallet = {
			status : 1,
			page : 1,
			old_page : 1,
			go : function(is_next){
				if(!myWallet.status){
					return false;
				}
				myWallet.page += parseInt(is_next);
				if(myWallet.page <= 0){
					myWallet.page = 1;
					return false;
				}
				console.log(myWallet.page);
				myWallet.getLogList(myWallet.page);
			},
			getLogList : function (_page){
				$.ajax("{:url()}", {type:'POST',dataType:"json",data:{page:_page},success: function(rs){
					console.log(rs);
					if(rs.code==1){
						$('#log_list tr').not(":first").remove();
						for(var i=0;i<rs.data.length;i++){
							$('#log_list').append('<tr><td>' + fmtDate(rs.data[i].add_time) + '</td><td>' +
								rs.data[i].payment + '</td><td>￥' + (-rs.data[i].amount) + '元</td></tr>');
						}
						myWallet.old_page = myWallet.page;
					}else{
						myWallet.page = myWallet.old_page;
					}
				}});
			}
		}
		myWallet.getLogList(myWallet.page);
		</script>
	<script>
		$('#menu_7').addClass('color_act').prev().show();
		$('#menu_7 .per_img').hide().filter('.act').show();
	</script>
	</body>
	
</html>
